.userContainer {
  width:  100%;
  background-color:$background-color;
  .containar {
    display: flex;
    justify-content: center;
  }
  .userContainerHeader {
    height: 128px;
    text-align: center;
    &__left {
      margin: 40px 0 0;
      .homeLink {
        width: 185px;
        height: 49px;
        line-height: 49px;
        display: inline-block;
        margin: 0 8px 0 0;
        .logo {
          width: 185px;
        }
      }
    }
  }
}
.delete-main{
  width: 100%;
  height: calc(100vh - 308px);
  background-color: $background-color;
  overflow: hidden;
  text-align: center;
  font-size: $fontD;
  .deleteBox{
    width: 50%;
    height: 60%;
    margin: 120px auto 0px auto;
    background-color: white;
    overflow: hidden;
    &__title{
      margin-top: 50px;
    }
    &__delete{
      width: 70%;
      height: 100px;
      margin: 60px auto 0 auto;
      background-color: red;
      text-align: center;
      line-height: 100px;
      .btn{
        text-decoration: none;
        color: white;
        display: block;
        font-size: $fontE;
      }
    }
  }
}
