.appBanner{
  height: 350px;
  background-image: url(/material/pict/bg-appBanner-pict.jpg);
  background-position: center;
  background-size: 100%;
  .inner{
    &__title{
      display: block;
      padding-top: 90px;
      text-align: center;
      font-size: $fontC;
      color: white;
      text-shadow: #383838 0 0 5px;
      font-weight: bold;
    }
    &__text{
      text-align: center;
      font-size: $fontF;
      color: white;
      text-shadow:#383838 0 0 5px;
    }
    &__icons{
      display: flex;
      justify-content: center;
      &__apple{
        height: 48px;
        margin: 22px 5px;
      }
      &__apple:hover{
        opacity: 0.5;
      }
      &__google{
        height: 70px;
        margin: 10px 5px;
      }
      &__google:hover{
        opacity: 0.5;
      }
    }
  }
}

.footer{
  height: 350px;
  background-color: #3d3d3d;
  .contents{
    display: flex;
    color: white;
    justify-content: space-evenly;
    padding-top: 50px;
    text-align: center;
    .content{
      .title{
        font-weight: bold;
        margin-bottom: 25px;
        display: block;
      }
      .list{
        padding-bottom: 15px;
        .btn{
          text-decoration: none;
          color: white;
        }
      }
    }
  }
  &__logo{
    width: 200px;
    margin: 0 auto;
    .logo{
      height: 55px;
    }
    p{
      text-align: center;
      color: white;
    }
  }
}

.wrapper{
  background-color: $background-color;
  width: 100vw;
  overflow: hidden;
  position: relative;
  .sellBtn{
    position: absolute;
    bottom: 20px;
    right: 20px;
    position: fixed;
    width: 130px;
    height: 130px;
    background-color: $main-color;
    border-radius: 10px;
    text-align: center;
    .btn{
      top:0;
      left:0;
      height: 100%;
      width: 100%;
      display: block;
      text-decoration: none;
      overflow: hidden;
      span{
        display: block;
        padding-top: 4px;
        color: white;
        text-align: center;
        margin-top: 10px;
      }
      img{
        margin-top: 10px;
        width: 70px;
      }
    }
  }
  .item{
    background-color: white;
    width: 50%;
    margin: 50px auto;
    overflow: hidden;
    &__name{
      margin-top: 20px;
      font-size: $fontE;
      font-weight: bold;
      text-align: center;
    }
    &__images{
      // background-color: linen;
      width:80%;
      margin: 0 auto;
      overflow: hidden;
      &__big{
        overflow: hidden;
        // width: 400px;
        // height: 400px;
        // margin: 0 auto;
        // display: flex;
        // これはJS当てる時用
        .bigImage{
          // height: 100%;
          // ↑としたいがそれだと画像が大きくなる、横幅が100%のまま高さを指定して抜き出すことは可能？
          height: 400px;
          margin: 15px auto;
          display: block;
        }
      }
      &__small{
        display: flex;
        justify-content: space-evenly;
        margin: 20px 0px;
        .smallImage{
          width: 150px;
        }
      }
    }      
    
    &__prices{
      width: 80%;
      margin: 30px auto 30px auto;
      text-align: center;
      &__price{
        font-size: $fontF;
        font-weight: bold;
        
      }
      &__details{
        font-size: $fontB;
        font-weight: normal;
        width: 100%;
        margin: 0 auto;
      }
      // span{
      //   font-size: $fontC;
      //   font-weight: normal;
      //   position: absolute;
      //   text-align: center;
      //   top: 50px;
      //   left: 270px;
      // }
    }
    &__buy{
      height: 80px;
      width: 80%;
      background-color: $main-color;
      color: white;
      font-size: $fontE;
      font-weight: bold;
      margin: 20px auto;
      text-align: center;
      line-height: 80px;
      .btn{
        text-decoration: none;
        color: white;
        display: block;
      }
    }
    &__description{
      width: 80%;
      margin: 0px auto;
      font-size: $fontC;
      text-align: center;
      line-height: normal;
    }
    &__details{
      width:80%;
      margin: 0 auto;
      padding: 30px 0px;
      table{
        width: 100%;
        padding: 20px 0px;
        margin: 0px auto;
        th{
          padding: 15px 10px;
          width: 120px;
          background-color: #f2f2f2;
          text-align: center;
        }
        td{
          padding: 15px 10px;
          width: 380px;
          .btn{
            text-decoration: none;
            color: $main-color;
          }
        }
      }
      
  }
  }
  .otherItems{
    width: 50%;
    margin: 0 auto;
    .categoryItems{
      width: 100%;
      margin: 0 auto 50px auto;
      &__title{
        display: block;
        text-decoration: none;
        color: $main-color;
        margin: 10px 0px;
        height: 30px;
        line-height: 30px;
        font-size: $fontC;
      }
      .row1{
        margin-bottom: 10px;
      }
      .itemContents{
        display: flex;
        width: 100%;
        justify-content: space-between;
        .itemContent {
          box-shadow: 2px 2px 5px gray ;
          background-color: white;
          height: 250px;
          width: 22%;
          .contentBox {
            text-decoration: none;
            color: black;
            &__top {
              height: 200px;
              position: relative;
              &__image {
                height: 100%;
                width: 100%;
                object-fit: cover;
              }
              &__price {
                position: absolute;
                bottom: 0px;
                padding: 3px 15px;
                background-color: rgba(100, 100, 100, 0.5);
                color: white;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
              }
            }
            &__bottom {
              height: 50px;
              font-size: $fontA;
              padding: 5px;
            }
          }
        }
      }
    }
    .userItems{
      width: 100%;
      margin: 0 auto 50px auto;
      &__title{
        display: block;
        text-decoration: none;
        color: $main-color;
        margin: 10px 0px;
        height: 30px;
        line-height: 30px;
        font-size: $fontC;
      }
      .row1{
        margin-bottom: 10px;
      }
      .userContents{
        display: flex;
        width: 100%;
        justify-content: space-between;
        .userContent {
          box-shadow: 2px 2px 5px gray ;
          background-color: white;
          height: 250px;
          width: 22%;
          .contentBox {
            text-decoration: none;
            color: black;
            &__top {
              height: 200px;
              position: relative;
              &__image {
                height: 100%;
                width: 100%;
                object-fit: cover;
              }
              &__price {
                position: absolute;
                bottom: 0px;
                padding: 3px 15px;
                background-color: rgba(100, 100, 100, 0.5);
                color: white;
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
              }
            }
            &__bottom {
              height: 50px;
              font-size: $fontA;
              padding: 5px;
            }
          }
        }
      }
    }
  }
}
  

