.signUpNewInfo {
  display: flex;
  justify-content: center;
  background-color: $background-color;
}
.signUpNewInfoBox {
  width: 700px;
  background-color: $field-color;
  &__title {
    text-align: center;
    padding: 32px;
    font-size: 22px;
    line-height: 1.4;
    font-weight: bold;
    color: #333;
    border-bottom-style: solid;
    border-width: 1px;
    border-color: #F5F5F5;
  }
  .Box {
    padding: 40px 40px 64px;
  }
  .signUpNewBoxContent {
    max-width: 343px;
    margin: 0 auto;
  }
  .signUpForm {
    display: block;
    &__label {
      font-weight: bold;
      font-size: 14px;
    }
    &__span {
    background: $red-action;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: $field-color;
    font-size: 12px;
    }
  }
  .signupForm1 {
    display: block;
    width: 100%;
    margin: 8px 0 0;
    padding: 10px 16px 8px;
    border-radius: 4px;
    @include border;
    background: $field-color;
    line-height: 1.5;
    font-size: 16px;
  }
  .singleUpEmail {
    margin: 32px 0 0;
    .signUpEmail__label {
      font-weight: bold;
      font-size: 14px;
    }
    .signUpEmail__span {
      background: $red-action;
      margin: 0 0 0 8px;
      padding: 2px 4px;
      border-radius: 2px;
      color: $field-color;
      font-size: 12px;
    }
    .signUpEmail1 {
      display: block;
      width: 100%;
      margin: 8px 0 0;
      padding: 10px 16px 8px;
      border-radius: 4px;
      @include border;
      background: $field-color;
      line-height: 1.5;
      font-size: 16px;
    }
  }
  .signUpPassWord {
    margin: 32px 0 0;
  }
  .signUpPassWord__label {
    font-weight: bold;
    font-size: 14px;
  }
  .signUpPassWord__span {
    background: $red-action;
    margin: 0 0 0 8px;
    padding: 2px 4px;
    border-radius: 2px;
    color: $field-color;
    font-size: 12px;
  }
  .signUpPassword1 {
    display: block;
    width: 100%;
    margin-top: 8px;
    padding: 10px 16px 8px;
    border-radius: 4px;
    @include border;
    background: $field-color;
    line-height: 1.5;
    font-size: 16px;
  }
  .signUpPassPord__label {
    font-weight: bold;
    font-size: 14px;
  }
  .infoText__span {
    display: block;
    margin: 8px 0 0;
    line-height: 1.5;
    color: #888;
  }
  .signUpPassWordDisply {
    display: flex;
    align-items: center;
    margin: 16px 0 0;
    .passWordOpenBtn {
    }
  }
  .identification {
    margin-top: 24px;
    .signUpIdentification {
      font-size: 16px;
      &__explanation {
        margin-top: 8px;
        font-size: 14px;
      }
    }
  }
  .signUpName {
    margin: 32px 0 0;
    &__label {
      font-weight: bold;
      font-size: 14px;
    }
    &__span {
      background: $red-action;
      margin: 0 0 0 8px;
      padding: 2px 4px;
      border-radius: 2px;
      color: $field-color;
      font-size: 12px;
    }
    &__box {
      display: flex;
    }
    &__first {
      padding: 10px 16px 8px;
      border-radius: 4px;
      @include border;
      background: $field-color;
      font-size: 16px;
      width: 170px;
      margin: 8px 8px 0 0;
    }
  }
  .signUpBirthday {
    margin-top: 24px;
    &__label {
      font-weight: bold;
      font-size: 14px;
    }
    &__span {
      background: $red-action;
      margin: 0 0 0 8px;
      padding: 2px 4px;
      border-radius: 2px;
      color: $field-color;
      font-size: 12px;
    }
    .birthday {
      .birthdayBox {
        position: relative;
        background: $field-color;
        margin-top: 8px;
        display: flex;
        align-items: center;
        .year{
          margin: 10px;
          padding: 10px;
          height: 50px;
          width: 135px;
          @include border;
          border-radius: 4px;
        }
        .month{
          margin: 10px;
          padding: 10px;
          height: 50px;
          width: 135px;
          @include border;
          border-radius: 4px;
        }
        .day {
          margin: 10px;
          padding: 10px;
          height: 50px;
          width: 135px;
          @include border;
          border-radius: 4px;
        }
      }
    }
    .attentionText {
      margin-top: 8px;
      color: #888;
      font-size: 14px;
    }
  }
  .signUpBtn {
    margin-top :24px;
    background-color: $red-action;
    border: 1px solid $red-action;
    color: $field-color;
    width: 100%;
    line-height: 48px;
    font-size: 14px;
    border-radius: 4px;
    text-align: center;
  }
}