.SettingRegistrationErrors {
  margin: ０ auto;
  padding: 40px;
  background-color: $field-color;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-sizing: border-box;
  margin: 30px 0;
  padding: 20px 40px;
  border: 1px solid #ddd;
  border-radius: 2px;
  text-align: center;
  background-color: #F35500;
  color: $field-color;
  height: 20%;
  // エラーメッセージが表示された時にビューが崩れてしまいます。
}
